@model SpoilBlock.Models.ViewModels.NewShowsViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{

    <div class="container" style="display:inline-block">
        
        <div style="width: 80%; float:left;">
            <h2>Thanks for logging in, @UserManager.GetUserName(User).</h2>
            <ul style="margin-top: 15px;">
            <a href='~/Search'>Vist our Search page to add shows to your watchlist,</a>
            <a href='~/Watchlist'>or visit your Watchlist to see what we're keeping track of for you.</a>
            <a href="https://github.com/eborello/woop/tree/main/Spoil-Block-Extension">&#10148; Click here or on the image to download the extension!</a>
        </ul>
        </div>
        <div style="width: 20%; float:right" >
            <a href="https://github.com/eborello/woop/tree/main/Spoil-Block-Extension">
                <img class="img-fluid" src="~/images/SpoilBlockInfographic.png" alt="Diagram of how to use SpoilBlock">
             </a>
        
        </div>
        
    </div>
    <div class="container" style="display:inline-block">
        
        <div class="col-10" style="margin-right: auto;margin-left: auto;margin-top:30px;">
            <div class="white-block" style="max-height: 600px; overflow:auto">
                <table id="newshowstable" class="table table-dark table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Upcoming Shows</th>
                            <th></th>
                            <th>Release</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var entry in Model.resultsList)
                        {
                            <tr>
                                <td><div class="img-max"><img src="@entry.image" class="img-fluid" style="max-width:100px;"></div></td>
                                <td>@entry.fullTitle</td>
                                <td>@entry.releaseState</td>
                                <td>
                                    <input class="mediatitle" type="hidden" value="@(entry.title)">
                                    <input class="mediadescription" type="hidden" value="@(entry.plot)">
                                    <input type="submit" value="Add" id=@entry.id class="btn btn-primary" />
                                </td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
d
}
else
{

    <div class="container-cus" style="margin-top: 50px;">
        <h1 class="display-4" style="font-weight: bold;">Welcome to Spoil Block!</h1>
        <p style="font-size: 1.2em; margin-top: 80px; font-weight: bold;">
            You tell us which content we should keep track of, and then our Google Chrome browser extension blocks spoilers when you're browsing YouTube.
        </p>
        

        <br />
        <p style="font-size: 1.2em;">
            Please log in or make an account to start using SpoilBlock.
            <a class="btn btn-secondary" style="margin-left: 20px; font-weight:600;" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </p>
    </div>

    <div class="container-cus" style="margin-top: 25px; text-align: center;">
        <img class="img-fluid" src="~/images/SpoilBlockInfographic.png" alt="Diagram of how to use SpoilBlock">
    </div>
}

@section NewShowsScript
{
<script type="text/javascript" src="~/js/addNewShows.js"></script>
}