@model SpoilBlock.Models.ViewModels.NewShowsViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container" style="display:inline-block">
        @*<h1>
            Welcome To SpoilBlock @UserManager.GetUserName(User)!!!
        </h1>*@
        <h2>Ready to block some shows </h2>
    
        <div class="row" style="margin-top:30px">

            <div style="max-width: 700px;max-height: 600px; overflow-x: hidden; overflow-y: scroll;" class="col-7">

                <table id="newshowstable" class="table table-dark table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Upcoming Shows</th>
                            <th></th>
                            <th>Release</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var entry in Model.resultsList)
                        {
                            <tr>
                                <td><div class="img-max"><img src="@entry.image" class="img-fluid"></div></td>
                                <td>@entry.fullTitle</td>
                                <td>@entry.releaseState</td>
                                <td>
                                    <input class="mediatitle" type="hidden" value="@(entry.title)">
                                    <input class="mediadescription" type="hidden" value="@(entry.plot)">
                                    <input type="submit" value="Add" id=@entry.id class="btn btn-primary" />
                                </td>
                                
                            </tr>

                        }
                    </tbody>


                </table>

            </div>

        </div>
    </div>


}
else
{

    <div class="container-cus" style="margin-top: 50px;">
        <h1 class="display-4">Welcome to Spoil Block</h1>
        <p style="font-size: 1.2em;">
            The internet has become a bubble of spoiler and it is hard not to see anything spoiled from our favourite shows. Our main purpose is to deliver spoiler free youtube content as per the user's choices. Click here to download the <a href="../wwwroot/Extension../wwwroot/Extension/Spoil-Block-Extension.zip" download="Spoil-Block-Extension.zip" style="color:blue">Extension.zip</a>
        </p>
        

        <br />
        <p style="font-size: 1.2em;">
            Please login to proceed
            <a class="btn btn-secondary" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </p>
    </div>
}

@section NewShowsScript
{
<script type="text/javascript" src="~/js/addNewShows.js"></script>
}