@model SpoilBlock.Models.ViewModels.WatchlistViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager




@{
    ViewData["Title"] = "Watchlist Page";
}
<div>
    @if (SignInManager.IsSignedIn(User) && Model.HasWoopUser)
    {

        @if (Model.IsEmpty == false)
        {
            <div class="container">
                <p class="text-left" style="margin:30px auto; font-size:20px;">List of shows that are being blocked</p>
                <table id="sortTable" class="table table-dark" style="font-size:18px;">
                    
                    <thead class="table-dark">

                        <tr>
                            <th data-type="number">#</th>
                            <th data-type="string" style="width:150px;"><button class="table_header">Title</button></th>
                            <th data-type="string"><button class="table_header">Description</button></th>
                            <th data-type="string"><button class="table_header">Watch Status</button></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                          @{
                                int i = 1;
                           }
                            @foreach (var item in @Model.AllShows)
                            {
                                <tr>
                                    <td>@(i++)</td>
                                    <td>
                                        <div class="imageandname">
                                            <img src="@item.Image" style="max-width:100px;">
                                            @item.Title
                                        </div>
                                    </td>
                                    <td>@item.Description</td>
                                    <td>
                                        
                                            <button class="btn btn-secondary dropdown-toggle" type="button" name="ddButton" data-status="0" data-mediaid="@item.Id" data-bs-toggle="dropdown" id="dd @item.Id" aria-haspopup="true" aria-expanded="false">Haven't Started</button>
                                            <div class="dropdown-menu" aria-labelledby="dd @item.Id">
                                                <a class="dropdown-item" href="#" name="ddItem" data-status="0" data-mediaid="@item.Id">Haven't Started</a>
                                                <a class="dropdown-item" href="#" name="ddItem" data-status="1" data-mediaid="@item.Id">Currently Watching</a>
                                                <a class="dropdown-item" href="#" name="ddItem" data-status="2" data-mediaid="@item.Id">Completed</a>
                                            </div>
                                        
                                    </td>
                                    <td><button name="deleteButton" class="btn btn-danger" data-showid="@item.Id">Delete</button></td>
                                </tr>
                            }

                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="text-center">

                <h2> You dont have anything in your watchlist. Do you want add some shows?</h2>
                <a id="redirectToSearch" class="btn btn-primary" asp-controller="Search" asp-action="Index">Click Here!</a>
            </div>
        }

    }
    else
    {
         Context.Response.Redirect("Identity/Account/Login");
        

        @*<div class="text-center">
            <h2 class="display-4">Please login to view the watchlist</h2>
        </div>*@

    }

</div>



@section WatchlistScript{
<script type="text/javascript" src="~/js/watchlist.js"></script>
}