@model SpoilBlock.Models.ViewModels.WatchlistViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*@model SpoilBlock.Models.UserMedium This needs a VM to hold list of Shows for one user*@
@{
    ViewData["Title"] = "Watchlist Page";
}
<div>
@if (SignInManager.IsSignedIn(User) && Model.HasWoopUser)
{

    //When the user is logged in view watchlist page


    <div class="text-center">
        <h1 class="display-4">@Model.Username 's Watchlist</h1>
    </div>

    @if (Model.IsEmpty == false)
    {
        <div class="text-center">
            <table class="table table-hover">     
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        @*<th scope="col">Blockage Level</th>*@
                    </tr>
                </thead>

                <tbody>
                    @{
                        int i = 1;

                        @foreach (var items in @Model.AllShows)
                        {

                            <tr>
                                <th scope="row">@(i++)</th>
                                <td>@items.Title</td>
                                <td>@items.Description</td>
                            </tr>
                            
                        }
                        
                    }
                </tbody>
            </table>
        </div>
    }
    else
    { 
        <div class = "text-center">

            <h2> You dont have anything in your watchlist. Do you want add some shows?</h2>
            <a class="btn btn-primary" asp-controller="Search" asp-action="Index">Click Here!</a>
        </div>
    }

} 
else
{
    <div class="text-center">
         <h2 class="display-4">Please login to view the watchlist</h2>
    </div>

}



</div>



